body{
    font-family: 'Poppins', sans-serif;
}
*.FlexI{
    display: flex;
    background-color: rgba(3, 42, 255, 0.48);
}
*.Flex{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
*.TemplI{
    
    max-width: 500px;
    align-items: center;
    
}
*.TemplII{
    max-width: 400px;
}
*.TemplII div{
   margin-left: 50px;
   margin-top: 50px;
   
}
*.text{
    
    font-weight: bold;
}
*.borderI{
    border: 2px solid rgba(3, 42, 255, 0.48);
}
*.space{
    margin-top:30px;
}
img.imgSmall{
    border-radius: 22px;
    max-width: 80px;
}
img.medium{
    border-radius: 22px;
    max-width: 200px;
}
div p {
    display: inline;
    margin-left: 20px;
}
*.ma{
    margin: auto;
}

*.pp{
    max-width: 100px;
}
nav.nav_header{
    display: inline;
}
nav.nav_header a{
    display: inherit;
    margin-left: 30px;
    margin-right: 30px;
}
input{
    box-shadow: 0 0 0 0;
    border: 0 none ;
    outline: 0;
    box-shadow: bisque;
    border-radius: 20px;
}
input:focus{
    background-color: aquamarine;
}
button{
    border-radius: 20px;
}
button:hover{
    background-color: aquamarine;
}
a{
    text-decoration: none;
}
a:hover{
    color: blue;
}